.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.318);
}

.star-rating {
    color: gold;
}

.border {
    border-radius: 10px;
}

.text-footer {
    font-size: 0.6em;
}

footer {
    background-color: black;
    color: white;
}

.bin {
    position: absolute;
    top: -5px;
    right: -8px;
}

h3 {
    font-size: 1em;
}

h2 {
    font-size: 1.5em;
}